<mat-card class="form-card">
  <mat-card-title>
    <h2 class="card-title">{{ 'sign_up' | translate }}</h2>
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="signUpForm" class="sign-up" id="signUpForm" (ngSubmit)="submitSignUpForm()">
      <mat-form-field class="full-width">
        <input formControlName="username" matInput [placeholder]="'username' | translate">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="password" type="password" matInput [placeholder]="'password' | translate">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input formControlName="passwordConfirm" type="password" matInput [placeholder]="'password_confirm' | translate">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button form="signUpForm" type="submit" mat-button>{{ 'sign_up' | translate }}</button>
    <a mat-button color="primary" [routerLink]="['/auth/sign-in']">{{ 'have_account' | translate }}</a>
  </mat-card-actions>
</mat-card>
