<div class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1>Ng Starter Web</h1>
      <h2>Start your project faster</h2>
    </div>
    <div class="header-start">
      <button [routerLink]="['/dashboard']" mat-raised-button color="accent">Get Started</button>
    </div>
  </div>
</div>

<div class="wshop-homepage-promo">
  <div class="wshop-homepage-row">
    <div class="wshop-homepage-promo-img">
    </div>
    <div class="wshop-homepage-promo-desc">
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across the web, mobile and desktop.</p>
    </div>
  </div>

  <div class="wshop-homepage-row wshop-homepage-reverse-row">
    <div class="wshop-homepage-promo-img">
    </div>
    <div class="wshop-homepage-promo-desc">
      <h2>Fast and Consistent</h2>
      <p>Finely tuned performance, because every millisecond counts. Fully tested across modern browsers.</p>
    </div>
  </div>

  <div class="wshop-homepage-row">
    <div class="wshop-homepage-promo-img">
    </div>
    <div class="wshop-homepage-promo-desc">
      <h2>Versatile</h2>
      <p>Themable, for when you need to stay on brand or just have a favorite color.
        Accessible and internationalized so that all users are welcome.</p>
    </div>
  </div>
</div>
