html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.spacer {
  flex: 1 1 auto;
}

[hidden] {
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

